<div class="jumbotron">
  <h1 class="display-4" class="text-center">Ghanaian Day Names List</h1>
  <p class="lead">Hey Friend, Akwaaba! Can't remember your day name? Check out this simple list.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>