<h2>Your Profile:</h2>

<form action="/names" method="POST">
    <b>Select your day name</b>
    <select name="name">
      <option value="Akosua/Akwasi (Sunday)">Akosua/Akwasi (Sunday)</option>
      <option value="Adwoa/Kwadwo">Adwoa/Kwadwo (Monday)</option>
      <option value="Abena/Kwabena (Tuesday)">Abena/Kwabena (Tuesday)</option>
      <option value="Akua/Kwaku (Wednesday)">Akua/Kwaku (Wednesday)</option>
      <option value="Yaa/Yaw (Thursday)"> Yaa/Yaw (Thursday)</option>
      <option value="Afia/Kofi (Friday)">Afia/Kofi (Friday)</option>
      <option value="Ama/Kwame (Saturday)">Ama/Kwame (Saturday)</option>
    </select>
  </p>
  <p>
    <b>Description:</b><br>
    <textarea rows="4" cols="50" name="description"></textarea>
  </p>
  <><input type='submit' value='Save this profile'></>
</form>

<p><a href='/logout'>Log Out</a></p>
<p><a href='/new'>Cancel</a></p>